.clear {
    clear: both;
}

/* generic */

body {
    margin: 0 auto;
    padding: 0;
}

.header {
    background-color: #26292e;
}

.header .inner {
    width: 1000px;
    height: 85px;
    margin: 0 auto;
}

.logo {
    color: #f2f3f5;
    font-family: Cedarville Cursive;
    width: 295px;
    display: inline-block;
}

.social-list1 {
    float: right;
    margin-top: -63px;
}

.sr-only {
    position: absolute;
    left: -10000px;
}

.block1 {
    width: 350px;
    margin-top: -203px;
    color: white;
    font-size: 12px;
}

.block2 {
    width: 500px;
    height: 300px;
    margin: -477px 0px 0px 865px;
}

.section1 {
    background-image: radial-gradient(at top, #ff99af, #ce5c74);
}

.section1 .inner {
    width: 1000px;
    height: 444px;
    margin: 0 auto;
    margin-top: 230px;
}

.section2 {
    background: rgb(241, 241, 241);
    border-bottom: solid rgb(255, 222, 227) 7px;
}

.section2 .inner {
    width: 1000px;
    height: 260px;
    margin: 0 auto;
    margin-top: -17px;
}

.so-list-item .facebook-img{
    list-style-image: url('../media/facebook.png');
    height: 30px;
}

.so-list-item .twitter-img{
    list-style-image: url('../media/twitter.png');
    height: 30px;
}
.so-list-item .rss-img{
    list-style-image: url('../media/rss.png');
    height: 30px;
}

.section3 {
    background-color: rgb(241, 241, 241)
}

.section3 .inner {
    width: 1000px;
    height: 480px;
    margin: 0 auto;
    margin-top: -14px;
}

.block6 {
    width: 500px;
    height: 322px;
}

.so-list-item {
    display: inline-block;
}

.main .sub-header {
    font-size: 20px;
    font-family: Oswald;
}

.block3 {
    width: calc(100% / 3);
    float: left;
}   

.block4 {
    width: calc(100% / 3);
    float: left;
}

.block5 {
    width: calc(100% / 3);
    float: left;
}

.block5 p {
    width: 95%;
}

.block4 p {
    width: 95%;
}

.block3 p {
    width: 95%;
}

.laptop{
    height: 297px;
}

.button {
    background-image: linear-gradient(#6b6b6b, #161616);
    padding: 7px 15px;
    border-radius: 7px;
    color: white;
}

button:hover {
    background-image: linear-gradient( #161616,#6b6b6b);
}

 .products {
    width: 484px;
    height: 261px;
 }

 .img-fluid {
    border: solid rgb(148, 148, 148);
    border-width: 10px;
    background: black;
    box-shadow: 0px 5px 5px;
 }
 
 .img-fluid1 {
    height: 96px;
    width: 180px;
    margin-right: 35px;
    float: left;
    }

.img-fluid2 {
    height: 96px;
    width: 180px;
    }
    
.img-fluid3 {
    height: 96px;
    width: 180px;
    margin-right: 35px;
    margin-top: 35px;
    float: left;
    }

.img-fluid4 {
    height: 96px;
    width: 180px;
    margin-top: 35px;
}

.block6 .sub-header {
    font-size: 17px;
}

.aside {
    width: 300px;
    float: right;
    margin: -297px 32px 0px 0px;
}

.aside .sub-header {
    font-size: 17px;
}

.footer {
    background-color: #26292e;
}

.footer .inner {
    width: 1000px;
    margin: 0 auto;
    height: 94px;
    margin-top: -22px;
}

.colophon {
    width: 316px;
    color: white;
    font-size: 13px;
    float: left;
    margin-top: 24px;
}

.social-list2 {
    width: 100px;
    float: right;
    margin-top: 30px;
}

.cloud {
    height: 25px;
}

.chat {
    height: 25px;
}

.pagefile{
    height: 25px;
}